<!doctype html>
<html>
  <head>
    <link rel="shortcut icon" href="#">
    <title>React Store</title>
  <link href="<%- manifest["main.css"] %>" rel="stylesheet"></head>
  <body>
    <div id="root"><%- content %></div>
    <script src="<%- manifest["main.js"] %>"></script>
    <script>window.INITIAL_STATE = <%- initialState%>;</script>
  </body>
</html>
